<script src="tag-input.component.ts"></script>
<div class="tags" #trigger cdk-overlay-origin #origin="cdkOverlayOrigin">
  <div class="tags__result" (click)="onClick($event)">
    <ga-option  *ngFor="let opt of selected" [value]="opt" (click)="remove(opt)" [disabled]="_disabled">
      {{ opt }}
      <span class="tags__remove glyphicon glyphicon-remove"></span>
    </ga-option>
    <div class="tags__input-wrap" *ngIf="!_disabled">
      <input type="text" class="form-control tags__input" [(gaFocus)]="isTriggerFocused" ga-tag-input-trigger>
    </div>
  </div>
</div>
