<div class="tags"  #trigger cdk-overlay-origin  #origin="cdkOverlayOrigin" >
  <div class="tags__result" (click)="onToggle($event)">
    <ga-tag-option  *ngFor="let opt of selection" [value]="opt.value" >
      {{ opt.viewValue }}
      <span class="tags__remove glyphicon glyphicon-remove" (click)="opt.toggle()"></span>
    </ga-tag-option>
    <a class="glyphicon  tags__chevron"
      [ngClass]="{'glyphicon-chevron-down': !isExpanded, 'glyphicon-chevron-up': isExpanded}">
    </a>
  </div>
  <ng-template
    cdk-connected-overlay
    [origin]="origin"
    [open]="panelOpen"
    [positions]="_positions"
    hasBackdrop
    (backdropClick)="close()"
    [offsetY]="_offsetY"
    [minWidth]="_triggerWidth"
    (attach)="_onAttached()"
    (detach)="_onDetach()"
    backdropClass="cdk-overlay-transparent-backdrop">
    <div class="tags__drop" [@transformDrop]="'showing'">
      <div class="tags__wrapper">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</div>
