<div class="container leader">
  <ga-card>
    <ga-card-header>
      <ga-card-title>Header</ga-card-title>
      <a class="glyphicon glyphicon-remove" ga-remove-button></a>
    </ga-card-header>
    <ga-card-body>
      Body
    </ga-card-body>
  </ga-card>
  <h1>{{title}} </h1>
  <form [formGroup]="form" novalidate #f="ngForm" gaForm>
    <h2>Select</h2>
    <ga-input-container>
      <ga-tag-select gaInput  formControlName="select">
        <ga-option [value]="10">10</ga-option>
        <ga-option [value]="20">20</ga-option>
      </ga-tag-select>
    </ga-input-container>

    <h2>Multiselect</h2>
    <ga-tag-select [multiple]="true" formControlName="multiselect">
      <ga-option [value]="10">10</ga-option>
      <ga-option [value]="20">20</ga-option>
      <ga-option [value]="30" >30</ga-option>
    </ga-tag-select>
    <h2>Multiselect with drop</h2>
    <ga-tag-select-with-drop formControlName="multiselectWithDrop" [multiple]="true">
      <ga-option *ngFor="let opt of options" [value]="opt">{{opt}}</ga-option>
      <ga-tag-optgroup>
        <div [gaCollapse]="isCollapsed">
          <ga-option [value]="301">301</ga-option>
        </div>
        <a (click)="isCollapsed = !isCollapsed">{{ isCollapsed ? 'view all' : 'close' }}</a>
      </ga-tag-optgroup>
    </ga-tag-select-with-drop>
    <h2>Radio  <ga-tooltip icon="?">Within which timeperiod from current day and looking back should the audience have visited the domain?</ga-tooltip></h2>

    <ga-radio-group formControlName="radioGroup">
      <ga-radio-button value="OR">OR</ga-radio-button>
      <ga-radio-button value="AND">AND</ga-radio-button>
    </ga-radio-group>
    <br>
    <textarea class="form-control"
              rows="3"
              gaParseInput
              gaAutosize
              #input="gaParseInput"
              formControlName="parseInput"
              (parsed)="log($event)"
              [attr.placeholder]="placeholder"></textarea>

    <ga-tag-input >
      <ga-tag-input-autocomplete [source]="autocompleteSource"></ga-tag-input-autocomplete>
    </ga-tag-input>

    {{form.value | json}}

    <button type="button" (click)="log(input.parse())">Parse</button>
    <button>Submit</button>


  </form>

</div>
<!--<ga-tag-input > </ga-tag-input>-->
