.widget {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  margin-left: 15px;
  position: relative;

  h3 {
    font-size: 18px;
    display: inline-block;
    margin: 0;
  }

  &__opener {
    display: inline-block;
    border: 2px solid #666;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    width: 24px;
    font-weight: bold;
    text-align: center;
    margin-right: 15px;
    color: #666;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #666;
    }
  }

  &__head {
    padding-right: 10px;

  }

  &__body {
    position: relative;
    margin-top: 20px;
  }

  label {
    padding-top: 4px;
  }
}
